.col-12.box {
  background: #ee7647;
  width: 100px;
  height: 200px;
  cursor: pointer;
}

.col-12.box > i {
  position: absolute;
  top: 30%;
  left: 30%;
  font-size: 80px;
  color: white;
}

.col-12.box > i:hover {
  -webkit-box-shadow: -1px 2px 29px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 2px 29px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 2px 29px -1px rgba(0, 0, 0, 0.75);
}
