$color_1: #EE7647;

.MuiToolbar-regular {
	background: #e9ecef;
	h6 {
		font-size: 20px;
		font-weight: bolder;
	}
}
.MuiTablePagination-toolbar {
	background: white;
}
.MuiTableCell-root {
	&:last-child {
		font-size: 15px;
	}
}
