
.row.icon p{
    font-size: 10px;
    align-content: center;
    margin: 2px;
    font-weight: bold;

}


/* .row.icon.em p{
    font-size: 15px;
    align-content: center;
    padding-left: 18px;
    
} */


.row.icon{
    align-content: center;
    margin: 0px;
    
}

.row.pop{
    padding: 5px;
    overflow: hidden;
    position: relative;
}

.container.pop{
    border: 2px solid  rgba(185, 39, 39, 0.2);
    border-radius: 3px;
    width: 70%;
    background-color: rgba(226, 226, 226, 0.5);
}

.container.menu{
    width: 50%;
}

.row.menu{
    font-size: 12px;
    text-align: center;
}

.col-12.menu{
    background: #F4662F;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    margin: 1%;
}
.col-12.menu:hover{
    background: rgb(0, 0, 0);
    color:white;
    box-shadow: 1px 1px 30px 2px rgba(109, 109, 109, 0.75);;

}

.container.empty{
    width: 12px;
    margin: 29px;
}