/* .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{
  background-color: yellowgreen;
} */

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(238, 234, 234, 1) 83%,
    rgba(241, 241, 239, 1) 100%
  );
}

.nav-tabs .nav-link.active:focus {
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(238, 234, 234, 1) 83%,
    rgba(241, 241, 239, 1) 100%
  );
}
